.main{background:#eee;width:1100px;margin:0 auto;}
.left{margin:0;background:black;color:white;width:540px;min-height:500px;word-break:break-all;word-wrap:break-word;display: inline-block;}
.right{margin-left:10px;min-height:500px;width:540px;background:#ccc;display: inline-block;}